<!DOCTYPE html>
<html>
<head>
	<title>Último que toque | Tu portal web futbolero de confianza</title>
	<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>	
	   <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>		
	<!--//fonts-->		
		<link href="/static/css/index/bootstrap.css" th:href="@{/css/index/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
		<link href="/static/css/index/style.css" th:href="@{/css/index/style.css}" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="soccer Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script src="/static/js/index/jquery.min.js" th:src="@{/js/index/jquery.min.js}"></script>
	<!-- js -->
</head>
<script>

        function confirmDelete(ruta){
            $('#confirmDelete').modal();
            $("#aceptar").val(ruta);
        }

        function confirmar(){
            var ruta = $("#aceptar").val();
            window.location = ruta;
        }

        function confirmEntrenador(ruta){
        	$('#confirmEntrenador').modal();
            $("#aceptar").val(ruta);
        }
        
        
        

</script>
<body>
<!-- header -->
<div class="header">
	 <div class="container">
		 <div class="logo">
			<a th:href="@{/}"><img class="imagen" src="/static/img/logoweb.png" th:src="@{/img/logoweb.png}" /></a>
		</div>
		 <div class="top-menu">
			 <span class="menu"></span>
			  <ul>
				 <li class="active"><a th:href="@{/perfil}">PERFIL</a></li>
				 <li><a th:href="@{/login?logout}">CERRAR SESIÓN</a></li>
				 <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/formJugador?id=-1}">
          				<button class="btn btn-success btn-lg btn-block">
		 				Añadir jugador
		  				</button>
		  			</a>
		  		</li>
			 </ul>			 
		 </div>			
		 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	  	

		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="strip">
	 <div class="container">
	 <marquee behavior="scroll" direction="left">
	 
	 	<ul class="resultado" th:each="r : ${resultados}">
			<li th:text="${r.equipo_local.nombre}"></li>
			<li th:text="${r.resultado}"></li>
			<li class="visitante" th:text="${r.equipo_visitante.nombre}"></li>
		</ul>
	 
	 </marquee>    
		<div class="clearfix"></div>
		</div>
</div>
				

<!-- content -->
<br>
<div class="content">
<div class="container">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Club</th>
      <th scope="col">PJ</th>
      <th scope="col">G</th>
      <th scope="col">E</th>
      <th scope="col">P</th>
      <th scope="col">GF</th>
      <th scope="col">GC</th>
      <th scope="col">Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each= "c: ${clasificaciones}">
      <th scope="row" th:text="${c.puesto}"></th>
      <td><img class="icon" th:src="${c.equipo.foto}"></td>
      <td th:text="${c.equipo.nombre}"></td>
      <td th:text="${c.pj}"></td>
      <td th:text="${c.pg}"></td>
      <td th:text="${c.pe}"></td>
      <td th:text="${c.pp}"></td>	
      <td th:text="${c.gf}"></td>
      <td th:text="${c.gc}"></td>
      <td th:text="${c.puntos}"></td>
	  <td>
	  <a th:href="@{/detailjugador(id=${c.equipo.id})}">Ver plantilla</a>
	  </td>
	  <td><a th:href="@{/detailequipo(id=${c.equipo.id})}">+ Info</a></td>
	  <td>
	  			<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/formEquipo(id=${c.equipo.id})}">
                  	<button class="btn btn-warning">
                  		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  			<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  							<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
						</svg>
					</button>
                  </a>
                  
                  
                  	<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger" th:onclick="|confirmDelete('/deleteEquipo?id=${c.equipo.id}')|">
                  		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  							<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  							<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
						</svg>
                  	</a>
                  
         </td>       
    </tr>
  </tbody>
</table>
<a sec:authorize="hasRole('ROLE_ADMIN')" th:onclick="|confirmEntrenador('/createEntrenador')|" class="btn btn-success btn-lg btn-block">
	<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  		<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
	</svg>
</a>
</div>
</div>
<!--- //content--->
<br>
<br>
<!--footer-->
<div class="footer">
	 <div class="container">
		 <div class="copywrite">
			 <p>© 2020 All Rights Reserved by <a href="https://twitter.com/ernestocalrod7">Ernesto Calvache Rodríguez</a> </p>
		 </div>
		 <div class="footer-menu">
			 <ul>
				 <li><a th:href="@{/perfil}">PERFIL</a></li>
				 <li><a th:href="@{/login?logout}">CERRAR SESIÓN</a></li>
			 </ul>			 
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //footer -->
<!-- Modal Eliminar -->
<div class="modal align-self-center" tabindex="-1" id="confirmDelete">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-danger text-justify">¿Estás seguro de eliminar el equipo?</h5>
              </div>
              <div class="modal-body text-justify">
                <p>Esta acción no se podrá deshacer</p>
              </div>
              <div class="modal-footer text-center col">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-danger" id="aceptar" onclick="confirmar()">Eliminar</button>
              </div>
            </div>
          </div>
</div>
<!-- //Modal Eliminar -->
<!-- Modal Entrenador -->
<div class="modal align-self-center" tabindex="-1" id="confirmEntrenador">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-danger text-justify">Primero deberá crear el entrenador.</h5>
              </div>
              <div class="modal-footer text-center col">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-danger" id="aceptar" onclick="confirmar()">Aceptar</button>
              </div>
            </div>
          </div>
</div>
<!-- //Modal Entrenador -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>