<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link th:href="@{/css/form.css}" href="/static/css/form.css" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
<form class="login100-form validate-form" th:action="@{/addUser}" action="#" method="post" th:object="${user}">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <div class="login100-pic js-tilt" data-tilt>
						<img src="/static/img/logoweb.png" th:src="@{/img/logoweb.png}" alt="IMG">
						</div>
                        <input type="submit" name="" value="Login"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            
                                <h3 class="register-heading">Registro</h3>
                                
                                
                                
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group" data-validate = "Por favor, ponga su nombre completo.">
                                            <input type="text" class="form-control" placeholder="Nombre *" th:field="*{nombre}" name="nombre" />
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="email" class="form-control" th:field="*{email}" placeholder="Email *" name="email" />
                                        </div>
                                        
                                        
                                        
                                    </div>
                                    <div class="col-md-6">
                                    		
                                    	<div class="form-group">
                                            <input type="text" class="form-control" th:field="*{apellidos}" placeholder="Apellidos *" name="apellidos" />
                                        </div>	
                                        
										
                                        
                                        <div class="form-group">
                                            <input type="text" class="form-control" th:field="*{username}" placeholder="Username *" name="username" />
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="password" class="form-control" th:field="*{password}" placeholder="Password *" name="password" />
                                        </div>
                                        
                                        <input  type="hidden" th:field="*{enabled}" th:value="1"/>
            							<input name="role" th:value="ROLE_USUARIO" type="hidden"/>
                                       
                                    </div>
                                </div>
                               </form>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>
</html>